@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$green-500: #7ab259;
$green-200: #bed8ad;
$green-100: #eef4ea;
$cream-500: #fef3d7;
$cream-200: #fefbef;
$cream-100: #fefdf7;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  li {
    list-style-type: none;
  }
}

.spacing1 {
  letter-spacing: 1px;
}

nav {
  background-color: rgba(255, 255, 255, 0.581);
  backdrop-filter: blur(10px);
}
.navbar-wrapper {
  z-index: 10;
  .berger {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    outline: none;
    border: none;
    border-radius: 6px;
  }

  .navbar-menu {
    position: absolute;
    background: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 20;
    transition: 0.7s;
    li {
      a {
        text-decoration: none;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        z-index: 20;
        transition: 0.5s;
        &::after {
          content: "";
          width: 0;
          height: 3px;
          background-color: $green-500;
          z-index: 20;
          position: absolute;
          bottom: -5px;
          left: 0;
          border-radius: 9999px;
          transform: translateX(30%);
          opacity: 0;
          transition: 0.5s;
        }
        &:hover,
        &:focus {
          color: $green-500;
          &::after {
            opacity: 1;
            width: 70%;
          }
        }
      }
    }
  }
}

.hero-wrapper {
  min-height: 90vmax;
  width: 100%;
  position: relative;
  &::after,
  &::before {
    content: "";
    width: 100%;
    z-index: 5;
    position: absolute;
    background-color: $cream-500;
  }
  &::after {
    height: 80%;
    top: 0;
    border-radius: 32px 32px 0 0;
  }
  &::before {
    height: 50%;
    bottom: 0;
    transform: skewY(-5deg);
    border-radius: 0 0 32px 32px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    overflow: hidden;
  }

  .row {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
}

.hero-images {
  img {
    width: 75%;
  }
}

.carousel {
  background: $green-100;
  img {
    display: block;
    height: 200px;
  }
}

.imagepopup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  .imagepopup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

#aqiqoh {
  .imagewrapper {
    position: relative;
    padding: 10px;
    img {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3;
    }
    &:before {
      position: absolute;
      background: $cream-500;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 2;
      right: 0;
      bottom: 0;
      border: 0.6rem solid $cream-200;
      border-radius: 99999px;
    }
    &:after {
      position: absolute;
      background: $cream-200;
      content: "";
      width: 100%;
      height: 50%;
      z-index: 1;
      right: 0;
      bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .navbar-wrapper {
    .navbar-menu {
      position: static;
      width: 100%;
      height: 100%;
      justify-content: end;
      flex-direction: row;
      background: none;
    }
  }
  .hero-wrapper {
    min-height: 70vh;
    .hero-images {
      img {
        width: 100%;
      }
    }
  }
  #aqiqoh {
    .imagewrapper {
      position: relative;
      padding: 10px;
      img {
        width: 400px;
        height: 400px;
        position: relative;
        z-index: 3;
      }
      &:before {
        position: absolute;
        background: $cream-500;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        right: 0;
        top: 0;
        border: 0.6rem solid $cream-200;
        border-radius: 99999px;
      }
      &:after {
        position: absolute;
        background: $cream-200;
        content: "";
        width: 50%;
        height: 100%;
        z-index: 1;
        right: 0;
        top: 0;
      }
    }
  }
}
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$custom-colors: (
  "green-500": #7ab259,
  "green-200": #bed8ad,
  "green-100": #eef4ea,
  "cream-500": #fef3d7,
  "cream-200": #fefbef,
  "cream-100": #fefdf7,
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  1: -100%,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";
