@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$green-500: #7ab259;
$green-200: #bed8ad;
$green-100: #eef4ea;
$cream-500: #fef3d7;
$cream-200: #fefbef;
$cream-100: #fefdf7;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}
ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  li {
    list-style-type: none;
  }
}
.asd {
  height: 100%;
  background: #000;
}
nav {
  background-color: rgba(255, 255, 255, 0.581);
  backdrop-filter: blur(10px);
}
.navbar-wrapper {
  z-index: 10;
  .berger {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    outline: none;
    border: none;
    border-radius: 6px;
  }

  .navbar-menu {
    position: absolute;
    background: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 20;
    transition: 0.7s;
    li {
      a {
        text-decoration: none;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        z-index: 20;
        transition: 0.5s;
        &::after {
          content: "";
          width: 0;
          height: 3px;
          background-color: $green-500;
          z-index: 20;
          position: absolute;
          bottom: -5px;
          left: 0;
          border-radius: 9999px;
          transform: translateX(30%);
          opacity: 0;
          transition: 0.5s;
        }
        &:hover,
        &:focus {
          color: $green-500;
          &::after {
            opacity: 1;
            width: 70%;
          }
        }
      }
    }
  }
}

.hero-wrapper {
  min-height: 80vh;
  width: 100%;
  position: relative;
  &::after,
  &::before {
    content: "";
    width: 100%;
    z-index: 5;
    position: absolute;
    background-color: $cream-500;
  }
  &::after {
    height: 80%;
    top: 0;
    border-radius: 24px 24px 0 0;
  }
  &::before {
    height: 30%;
    bottom: 0;
    transform: skewY(-4deg);
    border-radius: 0 0 24px 24px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .row {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
  .hero-images {
    img {
      left: -10%;
      width: 110%;
    }
  }
}

.kontur {
  overflow: hidden;
  img {
    z-index: 10;
    position: absolute;
    mix-blend-mode: overlay;
    object-fit: cover;
  }
  .container {
    position: relative;
    z-index: 11;
  }
}

@media (min-width: 992px) {
  .navbar-wrapper {
    .navbar-menu {
      position: static;
      width: 100%;
      height: 100%;
      justify-content: end;
      flex-direction: row;
      background: none;
    }
  }
  .hero-wrapper {
    .hero-images {
      img {
        left: -25%;
        width: 120%;
      }
    }
  }
}
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$custom-colors: (
  "green-500": #7ab259,
  "green-200": #bed8ad,
  "green-100": #eef4ea,
  "cream-500": #fef3d7,
  "cream-200": #fefbef,
  "cream-100": #fefdf7,
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  1: -100%,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";
